/////////////////////////////
//         Mobile          //
//        <-576px          //
/////////////////////////////

/*----------------------------*\
  1A. HTLM & body
  2B. Hamburgarmeny
  3C. Sections & huvudinnehåll
  4D. Contact.html
\*----------------------------*/


//Variabler
$purp: #31213d;
$dpurp: #2a1c35;
$yel: #faed24;
$dyel: #e2d620;


/*---------------------------*\
    1A. HTLM & body
\*---------------------------*/


//Sätter så att det är smooth scroll på hela sidan.
html {
  scroll-behavior: smooth;
}

//Bakgrundsfärg för body och SVG-"konsten".
body {
    background: $purp;
    .svgArt{
      z-index: -1;
      top: 34%;
      position: fixed;
      width: 110vw;
      display: inline !important; 
    }
  }


/*---------------------------*\
    2B. Hamburgarmeny
\*---------------------------*/


//Hamburgar-barsen
.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 35px;
  border-radius: 15px;
  background-color: $yel;
}

//Menyn stängd
.menuCollapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  ul {
      transition: all 0s;
      position: fixed;
      left: -9000px;
  }
}

//Bars för menyn stängd
.bar {
  @extend .b-a;
  position: fixed;
  left: 12px;
  top: 24px;
  &:before {
      @extend .b-a;
      top: -10px;
  }
  &:after {
      @extend .b-a;
      top: 10px;
  }
}

//Bars när menyn är öppen
.b-a-expanded {
  transition: all .25s;
  top: -0px;
  cursor: pointer;
}

//Menyn öppen
.menuExpanded {
  transition: all .25s;
  text-align: center;
  line-height: 3rem;
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: $yel;
  cursor: context-menu;
  ul {
      
      transition: all 0s;
      position: relative;
      top: 5rem;
      left: -20px;
      z-index: 0;
      list-style-type: none;
  }
  a {
      transition: all .15s;
      text-decoration: none;
      font-size: 2em;
      font-weight: 800;
      padding: 5px;
      color: $purp;
      
      &:hover {
        transition: all .15s;
        letter-spacing: 2px;
        color: $dpurp;
      }
  }
  .bar {
      z-index: 999;
      background-color: transparent;
      transition: all .25s;
      
      &:before {
        @extend .b-a-expanded;
        transform: rotate(45deg);
        background-color: $dpurp;
      }
      &:after {
        @extend .b-a-expanded;
        transform: rotate(-45deg);
        background-color: $dpurp;
      }
  }
}

//Menyknappen.
button {
  background-color: transparent;
  border: none;
}


/*--------------------------*\
 3C. Sections & huvudinnehåll
\*--------------------------*/


//Klass för att sätta flex på allt.
.split {
  display: flex;
  flex-direction: column;
}

//Klass för att sätta min och max-width på allt innehåll.
.sectionContainer {
  margin-inline: auto;
  width: #{"min(90%, 70.5rem)"};
}

//Första sidan/sektionen.
.welcomeSection {
  min-height: 100vh;
  h1 {
    color: $yel;
    font-size: 3rem;
    font-weight: 900;
    display: inline-block;
    
    margin: 0%;
    padding: 20% 0% 0% 25%;
  }

  p {
    padding: 0% 5% 0% 25%;
    font-weight: 600;
  }

  footer {
    position: absolute;
    bottom: 5%;

    text-align: center;
    left: 30%;


    .footerText{
      font-weight: 300;
      padding: 0 !important;
      font-size: 1rem;
    }

    .bounce {
      animation: bounce 2s infinite;
      margin-top: 10%;
    }
    
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }

  //Fishgif
  img {
    position: relative;
    display: inline;
    width: 10rem;
    transition: all .35s ease-in-out;

    &:hover {
      transform: rotate(3deg);
    }
  }
}

//Andra sidan/sektionen.
.skillSection {
  min-height: 100vh;
  position: relative;
  
  h2 {
    color: $yel;
    font-size: 2rem;
    padding: 10% 5% 5% 0%;
  }

  .container {
    display:contents;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    
    .skillContainer {
      width: 100%;
      background: $purp;
      border-radius: 10px;
    }

    .skill {
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      border-radius: 10px;
    }

    .html {
      background-color: $yel;
      width: 80%;
      animation: bar1 5s ease-in-out infinite;

      @keyframes bar1 {
        from {width: 0;}
        to {width: 80%;}
      }
    }

    .css {
      width: 60%;
      background-color: $yel;
      animation: bar2 5s ease-in-out infinite;

      @keyframes bar2 {
        from {width: 0;}
        to {width: 60%;}
      }
    }

    .js {
      width: 5%;
      background-color: $yel;
      animation: bar3 5s ease-in-out infinite;

      @keyframes bar3 {
        from {width: 0;}
        to {width: 5%;}
      }
    }

    .react {
      width: 0%;
      background-color: $yel;
    }
  }
}

//Trejde sidan/sektionen.
.experienceSection {
  min-height: 100vh;
  position: relative;

  h2 {
    color: $yel;
    font-size: 2rem;
    padding: 10% 5% 5% 0%;
  }
}

//Fjärde sidan/sektionen.
.aboutSection {
  min-height: 100vh;
  position: relative;

  h2 {
    color: $yel;
    font-size: 2rem;
    padding: 10% 5% 5% 0%;
  }
}

//Femte sidan/sektionen.
.connectSection {
  min-height: 100vh;

  h2 {
    color: $yel;
    font-size: 2rem;
    padding: 10% 5% 5% 0%;
  }

  $border: 1px solid ;

  //Mixin som sätter contenten i mitten.
  @mixin background-settings {
    background-position: center center;
  }

  //Container för kontaktformuläret.
  .formBox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 31.25rem;
    margin: 0 auto;
    padding: 0.7rem 2rem 0.5rem 2rem;
    @include background-settings;
  }

  //Div-barnen i containern.
  .formItem {
    margin-bottom: 0.7rem;
  }

  //Fyll-i-fälten.
  label,
  input,
  textarea {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.4;
    outline-color: $dpurp;
  }
  label {
    margin-bottom: 3px;
  }
  input,
  textarea {
    padding: 3px;
    border: $border;
    background-color: rgba(250, 250, 250, 0.85);
    color: black;
  }

  textarea {
    resize: none;
  }

  //Submit-knappen.
  input[type="submit"] {
    background-color: $yel;
    width: 103%;
    padding: 0.5rem 0rem 0.2rem 0rem;
    border: 0;
    color: $purp;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
    
    &:hover{
      width: 98%;
    }
  }

  input[type="submit"]:active {
    animation-name: submit-active;
    animation-duration: 0.5s;
  }

  @keyframes submit-active {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.98);
    }
  }

  //Socialamedier-länkar.
  .socialsBar{
    
    box-sizing: border-box;
    padding-left: 0.7rem;
    max-width: 18rem;
    margin: 0 auto;
    
    @include background-settings;
    img{
      filter: invert(0%) !important;
      height: 3rem;
      padding: 0.5rem;
    }
  }
}

//Sätter den mörkare lila som bakgrundsfärg på varannan section.
section {
  padding: 1rem;
  position: relative;

  &:nth-child(even) {
    background-color: $dpurp;
  }
}


/*------------------------*\
    4D. Contact.html
\*------------------------*/


//Contact.html
.contactPage {

  h1 {
    text-align: center;
    margin-top: 5rem;
    color: $yel;
  }
  p {
    text-align: center;
    img{
      margin-top: 10rem;
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; 

      @keyframes spin {
        0%, 20%, 50%, 80%, 100% {
          transform: rotate(0);
        }
        40% {
          transform: rotate(5deg);
        }
        60% {
          transform: rotate(2deg);
        }
      }
    }
  }
  
}
