/////////////////////////////
//        Desktop          //
//        <-768px          //
/////////////////////////////

/*----------------------------*\
  2B. Hamburgarmeny
  3C. Sections & huvudinnehåll
\*----------------------------*/

/*---------------------------*\
    2B. Hamburgarmeny
\*---------------------------*/


//Menyn öppen-länkar
.menuExpanded a {
    font-size: 3rem;
    line-height: 5rem;
}

/*--------------------------*\
 3C. Sections & huvudinnehåll
\*--------------------------*/

//Klass för att sätta min och max-width på allt innehåll.
.sectionContainer {
    margin-inline: auto;
    width: #{"min(90%, 100.5rem)"};
}

//Första sidan/sektionen.
.welcomeSection {
    h1 {
        font-size: 6rem;
    }
    p {
        font-size: 2rem;
        font-weight: 300;
    }

    img {
        width: 20rem !important;
    }

    footer {
        margin-bottom: 5rem;

        .footerText {
            font-size: 2rem;
        }

        .bounce {
            
            margin-top: 0;
        }
    }
}

//Andra sidan/sektionen.
.skillSection {
    h2 {
        font-size: 5rem;
        padding: 5% 5% 5% 0%;
    }

    p {
        font-size: 2rem
    }

    .skillArticle {
        padding-top: 16rem;

        p{
            font-size: 1.8rem;
        }
    }
}

//Trejde sidan/sektionen
.experienceSection {
    h2 {
        font-size: 5rem;
        padding: 5% 5% 5% 0%;
    }

    p {
        font-size: 2rem
    }

    .rightArticle {
        position: relative;
        top: 16rem;
    }
}

//Fjärde sidan/sektionen.
.aboutSection {
    h2 {
        font-size: 5rem;
        padding: 5% 5% 5% 0%;
    }

    p {
        font-size: 2rem
    }

    .rightArticle {
        position: relative;
        top: 16rem;
    }
}

//Femte sidan/sektionen.
.connectSection {
    h2 {
        font-size: 5rem;
        padding: 5% 5% 5% 0%;
    }

    .formBox {
        padding-top: 10%;
        max-width: 47%;
        line-height: 3rem;
        label {
            font-size: 1.8rem
        }
    }

    .socialsBar {
        padding-top: 5%;
        margin-top: 0;
    }

    input {
        padding: 1rem;
    }

    textarea {
        padding: 1rem;
    }

    input[type="submit"] {
        padding: 1rem;
        width: 105%;
        font-size: 2rem;
    }
}