/////////////////////////////
//    Landscape mobile     //
//          576px          //
/////////////////////////////



section {
    height: auto;
}

.sectionContainer {
    width: #{"min(80%, 70.5rem)"};
}

.welcomeSection {
    padding: 0;

    h1 {
        padding: 5% 0% 0% 25%;
    }

    footer {
        max-width: 30%;
        left: 40%;
        right: 40%;
        bottom: 1%;

        .bounce {
            margin-top: 5%;
        }
    }

    svg {
        width: 15%;
    }
}

.skillSection {
    h2{
        padding: 0% 5% 0% 0%;
    }

    .container {
        .react {
            margin: 0% 0% 10% 0%;
        }
    }
}

.experienceSection {
    h2 {
        padding: 0% 5% 0% 0%;
    }
}

.aboutSection {
    h2 {
        padding: 0% 5% 0% 0%;
    }
}

.connectSection {
    h2 {
        padding: 0% 5% 0% 0%;
    }

    .socialsBar {
        margin-bottom: 10%;
    }

    input[type="submit"] {
        width: 102%;
    }
}

.menuExpanded {
    line-height: 3rem;

    ul {
        top: 1rem;
    }
}