/////////////////////////////
//      Small laptop       //
//        <-768px          //
/////////////////////////////

/*----------------------------*\
  1A. HTLM & body
  3C. Sections & huvudinnehåll
\*----------------------------*/

/*---------------------------*\
    1A. HTLM & body
\*---------------------------*/

//Sätter scroll-snap
html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    scroll-behavior: smooth;
}

//Kopplas ihop med scroll-snap'en
section {
    height: 100vh;
    scroll-snap-align: start;
}

/*--------------------------*\
 3C. Sections & huvudinnehåll
\*--------------------------*/

//Klass för att sätta min och max-width på allt innehåll
.sectionContainer {
    width: #{"min(90%, 70.5rem)"};
}

//Klass för att sätta flex på allt.
.split {

    flex-direction: row;
}

//Iom flexen så gör jag articlarna 50/50
article {
    width: 50%;
    padding: 0% 5% 0% 5%;
}

// Ny styling på h2'orna
h2 {
    font-size: 3rem;
    padding: 0% 0% 0% 0%;
}

//Första sidan/sektionen.
.welcomeSection {
    h1 {
        font-size: 4rem;
        padding: 10% 0% 0% 60%;
    }

    p {
        padding: 0% 5% 0% 60%;
        
    }

    footer {
        left: 10%;
    }

    img {
        left: 0%;
        width: 0.5rem;
    }
}

//Andra sidan/sektionen.
.skillSection {
    min-height: 100vh;

    h2 {
        font-size: 3rem;
        padding: 0% 0% 0% 0%;
    }

    p {
        font-size: 1.2rem;
    }

    .skillArticle {
        padding-top: 4rem;
    }

}

//Trejde sidan/sektionen.
.experienceSection {
    min-height: 100vh;

    h2 {
        font-size: 3rem;
        padding: 0% 0% 0% 0%;
    }

    p {
        font-size: 1.2rem;
    }

    .rightArticle {
        position: relative;
        top: 7.3rem;
    }
}

//Fjärde sidan/sektionen.
.aboutSection {
    h2 {
        font-size: 3rem;
        padding: 0% 0% 0% 0%;
    }

    p {
        font-size: 1.2rem;
    }

    .rightArticle {
        position: relative;
        top: 7.3rem;
    }
}

//Femte sidan/sektionen.
.connectSection {
    min-height: 100vh;

    h2 {
        font-size: 3rem;
        padding: 0% 0% 0% 5%;
        margin-bottom: 0;
        width: 43%;
    }

    $border: 1px solid ;

    .formBox {
      margin: 0;
      padding: 5% 5% 0% 0%;
      box-sizing: border-box;
      width: 50%;
      max-width: 25.25rem;
      margin: 0 auto;
    }

    label,
    input,
    textarea {
      display: inline-block;
      width: 100%;
      font-size: 1.2rem;
      line-height: 1.2;
      outline-color: $dpurp;
    }

    input[type="submit"] {
      width: 103%;
    }

    .socialsBar {
        margin-top: 0;
        margin-bottom: 0;

        img {
            transition: ease-in-out 0.3s;
            &:hover {
                height: 2.5rem;
            }
        }
    }
}

