* {
    font-family: 'Gothic A1', Times;
    color: white;
}

//Mobil 0 till 575px
@import '_base.scss';

//Tar bort fisk-gifen när det blir mindre än 550px
@media (max-height: 550px) {
    .welcomeSection{
        img{
            display: none !important;
        }
    }
}

//Mobil landscape från 576px
@media (min-width: 576px) {
    @import '_mobileLS.scss';
}

// Tablets, iPad, från 768px
@media (min-width: 768px) { 
    @import '_tablet.scss';
}

// Små laptops/tablet landscape från 992px
@media (min-width: 992px) {
    @import '_sLaptop.scss';
}

// Större laptops/små dekstops från 1200px
@media (min-width: 1200px) {
    @import '_laptop.scss';
}

//Stor dekstop från 1920px
@media (min-width: 1920px){
    @import '_desktop.scss';
}


// :focus {
//     outline: 3px solid #3d68a7;
//   }




// ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣷⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
// ⠀⠀⠀⠀⠀⠀⠀⣀⣶⣿⣿⣿⣿⣿⣿⣷⣶⣶⣶⣦⣀⡀⠀⢀⣴⣇⠀⠀⠀⠀
// ⠀⠀⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀
// ⠀⠀⠀⠀⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀
// ⠀⠀⠀⣴⣿⣿⣿⣿⠛⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣄⠀⠀⠀
// ⠀⠀⣾⣿⣿⣿⣿⣿⣶⣿⣯⣭⣬⣉⣽⣿⣿⣄⣼⣿⣿⣿⣿⣿⣿⣿⣿⣷⡀⠀
// ⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄
// ⢸⣿⣿⣿⣿⠟⠋⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⣿⣿⣿⣿⡿⠛⠉⠉⠉⠉⠁
// ⠘⠛⠛⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⠛⠛⠃⠀⠀⠀⠀